@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,200&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #5451A6;
}

.navbar h2 {
    color: white;
    font-weight: 200;
    font-size: 20px;
}

.navbar {
    border: 2px solid #fff;
    border-bottom-left-radius: 20px;
    padding: 20px 20px;
}
.list {
    list-style: none;
    text-align: right;
    margin: 5px;
}

.links a {
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding: 0px 8px;
}

.links {
    display: inline;
}
.quiz-heading {
    color: #fff;
    text-align: center;
    font-weight: bold;
}
.container{
    border: 2px solid #fff;
    border-radius: 10px;
    margin: 5% 20%;
    text-align: center;
    font-weight: bold;
}
.length{
    margin-top: 10px;
    color: #fff;
    padding: 20px;
}
.breadth{
    color: #fff;
    padding: 20px;
}
.input{
    border: 1px solid #fff;
    border-radius: 5px;
    font-weight: bold;
    padding: 5px 5px;
}
#btn{
    margin-top: 8px;
    padding: 5px 5px;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #5451A6;
    color: #fff;
}

#output {
    text-align: center;
    border: 1px solid #fff;
    border-radius: 8px;
    color: #fff;
    margin: 10% 20%;
}
/* footer-section */
.footer {
    text-align: center;
    color: #fff;
    padding: 20px 10px;
    margin-top: 5%;
}

.footer-list {
    list-style: none;

}

.social-link a {
    text-decoration: none;
    color: #fff;
}

.social-link {
    display: inline;
    padding: 10px;
}

.fa-brands,
.fa-solid {
    font-size: 20px;
}

.fa-brands:hover {
    padding: 5px 5px;
    background-color: #fff;
    color: #5451A6;
    border-radius: 50%;
}

.fa-solid:hover {
    padding: 5px 5px;
    padding: auto;
    background-color: #fff;
    color: #5451A6;
    border-radius: 50%;
}